<mat-toolbar color="primary">
  Fast, infinite scroll list
</mat-toolbar>

<div class="header">
  <mat-checkbox [checked]="allSelected" [indeterminate]="!!selection.selected.length && !allSelected"
    (change)="toggleMasterSelection()"></mat-checkbox>
  <span>Showing {{listItems.length}} items</span>
  <span class="selected-text" *ngIf="selection.selected.length"> ({{selection.selected.length}} selected)</span>
</div>

<cdk-virtual-scroll-viewport #scroller class="content" [itemSize]="72">
  <mat-list>
    <mat-list-item *cdkVirtualFor="let item of listItems">
      <mat-checkbox mat-list-icon [checked]="selection.isSelected(item)" (change)="selection.toggle(item)">
      </mat-checkbox>
      <h3 matLine> {{item.title}} </h3>
      <p matLine>
        <span> {{item.content}} </span>
      </p>
      <button mat-icon-button [matMenuTriggerFor]="itemMenu">
        <mat-icon>
          more_vert
        </mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
  <div class="spinner-item" *ngIf="loading">
    <mat-progress-spinner [mode]="'indeterminate'" [diameter]="50"></mat-progress-spinner>
  </div>
</cdk-virtual-scroll-viewport>


<mat-menu #itemMenu="matMenu">
  <button mat-menu-item>
    Option 1
  </button>
  <button mat-menu-item>
    Option 2
  </button>
  <button mat-menu-item>
    Option 3
  </button>
</mat-menu>